.App {
  text-align: center;
}

.App-header {
  background-color: #221e22;
  min-height: 100vh;
  display: fixed;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fffffc;
}

